PORT=8000
DB_PASSWORD=your_database_password_here
DB_CONNECTION=mongodb+srv://your_username:<DB_PASSWORD>@your_cluster.mongodb.net/?appName=YourApp

# Brevo Email Configuration
BREVO_API_KEY=your_brevo_api_key_here
SENDER_EMAIL=noreply@yourdomain.com
SENDER_NAME=Expense Tracker
NOTIFICATION_EMAIL=admin@example.com
NOTIFICATION_NAME=Admin
